<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NHL Scoreboard</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scoreboard.js') }}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script>
        var scoreboard = {{ scoreboard | tojson | safe }};
    </script>
    <style>
        #title {
            font-size: 30px;
            font-weight: bold;
            color: red;
            padding: 50px;
            margin-bottom: 30px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div id="title">2024 NHL Scoreboard</div>
        <div id="teams"></div>
    </div>
</body>
</html>
